BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "segA" SITE "13" ;
LOCATE COMP "segB" SITE "14" ;
LOCATE COMP "segC" SITE "16" ;
LOCATE COMP "segD" SITE "17" ;
LOCATE COMP "segE" SITE "20" ;
LOCATE COMP "segF" SITE "21" ;
LOCATE COMP "segG" SITE "23" ;
LOCATE COMP "segDP" SITE "25" ;
LOCATE COMP "clk" SITE "11" ;
